.main {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;

    input[type="file"] {
        display: none;
    }
}

.uploadButton {
    position: fixed;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    background-color: white;
    color: black;
    cursor: pointer;

    &:hover {
        background-color: lightgray;
    }
}

.head {
    position: fixed;
    top: 55px;
    height: 160px;
    width: 100vw;
}

.headText {
    position: fixed;
    width: 70vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 6rem;

    hr {
        margin-top: 2rem;
    }
}

.videos {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
    top: 17rem;
    width: 100vw;
    bottom: 0;
    overflow-y: scroll;
}

.vidCard {
    display: flex;
}

#delButton {
    position: relative;
    background-color: transparent;
    font-size: 1.5rem;
    bottom: 50%;
    right: 5%;
    border: none;
    color: black;
    cursor: pointer;
}

#delButton:before {
    position: absolute;
    content: "\02e3";
    font-size: 30px; 
}
